# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
python/sm_4rel4in/dist/sm_4rel4in-1.0.1-py3-none-any.whl
python/sm_4rel4in/dist/sm_4rel4in-1.0.1.tar.gz
python/sm_4rel4in/sm_4rel4in.egg-info/dependency_links.txt
python/sm_4rel4in/sm_4rel4in.egg-info/PKG-INFO
python/sm_4rel4in/sm_4rel4in.egg-info/requires.txt
python/sm_4rel4in/sm_4rel4in.egg-info/SOURCES.txt
python/sm_4rel4in/sm_4rel4in.egg-info/top_level.txt
